.name {
  width: 100%;
  height: 40px;
  font-size: 1.2rem;
}
.entp {
  display: inline-block;
  margin-left: 1rem;
  font-size: 0.85rem;
}
.img {
  width: 30%;
}
.list {
  padding: 0.5rem;
  font-size: 0.9rem;
}
.title {
  font-weight: 800;
}
