header {
  height: 7rem;
  padding: 1rem 0;
  background-color: rgb(104, 228, 191);
  position: relative;
}
.title {
  text-align: center;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 3rem;
  text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
}
.logoutBtn {
  position: absolute;
  bottom: 18%;
  right: 1%;
  background: none;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  transition: all 0.5s;
  padding: 0 1rem;
  border-radius: 30px;
  text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
}
