main {
  height: 100vh;
}
.section {
  display: flex;
  height: 100%;
}
.editor {
  width: 70%;
  height: auto;
  padding-bottom: 2rem;
}
.save {
  width: 30%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .section {
    flex-direction: column;
  }
  .editor,
  .save {
    width: 100%;
  }
}
