main {
  height: 100vh;
}
.section {
  display: flex;
  height: 100%;
}
.editor {
  width: 70%;
  height: 100%;
  border-right: 2px dotted rgb(122, 126, 125);
}
.save {
  width: 30%;
  height: 100%;
  background-color: azure;
}
