body {
  background-color: rgb(226, 225, 225);
}
.loginBox {
  width: 350px;
  height: 450px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  padding: 0.2rem 1rem;
  background-color: rgb(104, 228, 191);
  text-align: center;
  color: #fff;
}
.subtitle {
  margin: 0.5rem;
  font-size: 1.2rem;
}
button:hover {
  background-color: #fff;
  color: rgb(104, 228, 191);
}
.email_pw_box {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
input::placeholder {
  font-size: 0.8rem;
  padding-left: 0.5rem;
}
.loginbtn,
.email,
.pw,
.btn {
  background-color: rgb(177, 189, 177);
  cursor: pointer;
  transition: all 0.4s;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 0.7rem 1rem;
  margin-top: 0.7rem;
  outline: none;
}
.email,
.pw {
  background-color: #fff;
  color: #333;
}
.loginbtn {
  width: 40%;
}
